<% provide(:title, "Sign up to LevelUp!") %>

<div class="text-center">
    <div class="form-signin">
      <%= image_tag("level-up-mush.png", alt: "LevelUp!", style: "width: 72px;" ) %>
      <h3 class="h3 mb-3 font-weight-normal", style="font-family: 'Cabin Sketch', cursive;">SignUp/LevelUp!</h3><br>
      <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>

          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %><br>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %><br>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %><br>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %><br>

          <%= f.submit "LevelUp!", class: "btn btn-lg btn-primary btn-block" %><br>
          <%= link_to 'Log in', login_url, class: 'btn btn-lg btn-info btn-block'  %><br>

      <% end %>
    </div>
</div>
