<% provide(:title, 'My Home Page') %>

<%= render 'shared/navigation' %>

<div class="container">

  <% if logged_in? %>

    <%= render 'posts/form' %>
    <%= render 'layouts/userButtons' %>
    <%= render 'layouts/stats' %>
    <%= render 'layouts/history' %>

  <% else %>

    <%= render 'pages/index' %>

  <% end %>

</div>
