<div class="container">

      <%= image_tag("level-up.png", alt: "LevelUp!", class: "titleImg", id: "title") %></h2>
          <!-- <%= image_tag("level-up-mush.png", alt: "1up mushroom", class: "titleImage") %></h2> -->

      <%= render 'buttons/titleButtons' %>

      <%= render 'layouts/about' %>

      <%= render 'shared/footer' %>

      <%= render 'layouts/status' %>

</div>
