<div class="container">

      <%= image_tag("level-up.png", alt: "LevelUp!", class: "title") %></h2>
          <!-- <%= image_tag("level-up-mush.png", alt: "1up mushroom", class: "titleImage") %></h2> -->

      <%= render 'layouts/homeButtons' %>

      <%= render 'layouts/about' %>

      <%= render 'layouts/status' %>

</div>
