<div class="row">
    <div class="box statusForm">
        <div class="col-lg-12 text-center">
          <h1>Status Report...</h1>
          <br>
        </div>
        <div class="col-lg-12">
					<%= form_for @post do |f| %>
          <%= render 'shared/post_error_messages' %>

						<%= image_tag("red-mush.png", alt: "achievements", class: "statusIconForm") %>
						<%= f.label :achievements %>
						<%= f.text_area :achievements, class: 'form-control' %>
						<br>
						<%= image_tag("poison-mush.png", alt: "obstables", class: "statusIconForm") %>
						<%= f.label :obstacles %>
						<%= f.text_area :obstacles, class: 'form-control' %>
						<br>
						<%= image_tag("super-star.png", alt: "goals", class: "statusIconForm") %>
						<%= f.label :goals %>
						<%= f.text_area :goals, class: 'form-control' %>
						<br>
						<%= image_tag("block.png", alt: "panic score", class: "statusIconForm") %>
						<%= f.label :panic_score %>
						<%= f.text_field :panic_score, class: 'form-control' %>
						<br>
						<%= f.submit 'Create Status', class: 'btn btn-info' %>
					<% end %>
        </div>
    </div>
</div>
