<div class="row">
    <div class="box statusForm">
        <div class="col-lg-12 text-center">
          <h1>Status Report...</h1>
          <br>
        </div>
        <div class="col-lg-12">
					<%= form_for @post do |f| %>
          <%= render 'shared/post_error_messages' %>

						<%= image_tag("red-mush.png", :alt => "achievements", :class => "statusIcons") %>
						<%= f.label :achievements %><br>
						<%= f.text_field :achievements, class: 'form-control' %><br>
						<br>
						<%= image_tag("poison-mush.png", :alt => "obstables", :class => "statusIcons") %>
						<%= f.label :obstacles %><br>
						<%= f.text_area :obstacles, class: 'form-control' %><br>
						<br>
						<%= image_tag("super-star.png", :alt => "goals", :class => "statusIcons") %>
						<%= f.label :goals %><br>
						<%= f.text_area :goals, class: 'form-control' %><br>
						<br>
						<%= image_tag("block.png", :alt => "panic score", :class => "statusIcons") %>
						<%= f.label :panic_score %><br>
						<%= f.text_area :panic_score, class: 'form-control' %><br>
						<br>
						<%= f.submit class: 'button center' %>
					<% end %>
        </div>
    </div>
</div>
