<% @posts.each do |post| %>
   <div class="col-lg-3 col-md-4 col-xs-4 statusCard">
       <ol class="statusList">
           <li class="text-center">
            <% if post.user.name == current_user.name %>
              <h2 class="statusH2">My Status</h2>
            <% else %>
              <h2 class="statusH2"><%= post.user.name %> Status</h2>
            <% end %>
             <p class="statusP"><%= post.created_at.strftime("%B %d, %Y") %></p>
           </li>
           <li>
             <%= image_tag("red-mush.png", alt: "achievements", class: "statusIcons") %>
             <%= post.achievements %>
           </li>
           <li>
             <%= image_tag("poison-mush.png", alt: "obstables", class: "statusIcons") %>
             <%= post.obstacles %>
           </li>
           <li>
             <%= image_tag("super-star.png", alt: "goals", class: "statusIcons") %>
             <%= post.goals %>
           </li>
           <li>
             <%= image_tag("block.png", alt: "panic score", class: "statusIcons") %>
             <%= post.panic_score %>
           </li>
       </ol>

       <%= link_to "View", post, class: "btn btn-default pull-right" %>
   </div>
 <% end %>
