<div class="statusCard">

    <ul class="statusList">
      <li>
        <% if @post.user.name == current_user.name %>
        <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button>
        <% end %>
      </li>

      <li>
        <!-- if user is not following... follow -->
        <!-- <button class="fas fa-user-plus"></button> -->
        <!-- else if user is following...unfollow -->
        <!-- <i type="button" name="unfollowBtn" class="fas fa-user-minus"></i> -->
        <b><%= @post.user.name %> Status</b>
      </li>
      <li>
        <p>Likes: <b><%= @post.likes %></b></p>
      </li>
      <li>
        <%= image_tag("red-mush.png", :alt => "achievements", :class => "statusIcons") %>
        <%= @post.achievements %>
      </li>
      <li>
        <%= image_tag("poison-mush.png", :alt => "obstables", :class => "statusIcons") %>
        <%= @post.obstacles %>
      </li>
      <li>
        <%= image_tag("super-star.png", :alt => "goals", :class => "statusIcons") %>
        <%= @post.goals %>
      </li>
      <li>
        <%= image_tag("block.png", :alt => "panic score", :class => "statusIcons") %>
        <%= @post.panic_score %>
      </li>

        <ul class="commentList">
              <% @post.comments.each do |comment| %>
                <li class="commentList"><%= comment.user.name %>: <%= comment.comment %></li>
                <% if comment.user.name == current_user.name %>
                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button>
                <% end %>
              <% end %>
        </ul>

        <%= render 'comments/form' %>

</ul>



</div>
